label[for="navbar-trigger"] {
  display: none;
}
.phone {
  background: #F7C42A !important;
  height: 100%;
  vertical-align: middle;
  color: #fff !important;
  font-size: 18.5px !important;
  padding: 0 11.5px;
  width: 400px;
}
.phone-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.phone i {
  font-size: 35px;
  margin-right: 5px;
}
.header-navbar {
  background: white;
  position: fixed;
  width: 100%;
  z-index: 4;
  display: flex;
  align-items: center;
}
.header-navbar-pay {
  font-size: 22px;
  color: #fff;
}
.header-navbar-white {
  background-color: #fff;
}
.header-navbar-logo {
  height: 48px;
  margin-left: 40px;
  padding: 5px 20px 5px 0px;
  border-right: 2px solid #808080;
  vertical-align: middle;
}
.header-navbar-list {
  display: inline-block;
  height: 86px;
  list-style: none;
  padding: 0;
  left: 0;
  right: 0;
  margin: 0 0 0 40px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}
.header-navbar-list-item {
  display: inline-block;
  margin: 0 auto;
  font-family: "Avenir LT Std Heavy";
  font-size: 21px;
  height: 100%;
  line-height: 86px;
  vertical-align: middle;
}
.header-navbar-list-item-white {
  background-color: #fff;
}
.header-navbar-list-item:first-child {
  display: inline-block !important;
}
.header-navbar-list-item:last-child {
  display: inline-block !important;
  float: right;
  margin: 0;
  width: 238px;
  padding: 0 0.6em;
}
.header-navbar-list-item-link {
  color: #575656;
}
.header-navbar-list-item-link-active {
  color: #F7C42A !important;
}
.header-navbar-list-item-link:hover {
  color: #F7C42A !important;
}
.header-navbar-list-item-link:active {
  color: #575656 !important;
}
#navbar-trigger {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

@media screen and (max-width: 1100px) {
  label[for="navbar-trigger"] {
    display: inline-block;
    transition: color 0.3s;
  }
  label[for="navbar-trigger"]:hover {
    color: $orange;
  }
  label[for="navbar-trigger"]::before {
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    right: 15px;
    top: 18px;
    z-index: 3;
  }
  .header-navbar {
    height: 65px;
    background-color: #fff;
  }
  .header-navbar-logo {
    height: 40px;
    margin-left: 15px;
    border: none;
  }
  .header-navbar-list {
    display: block;
    height: 0;
    position: absolute;
    top: 65px;
  }
  .header-navbar-list-item {
    background: #fff;
    display: block !important;
    height: 0;
    line-height: 50px;
    overflow: hidden;
    width: 100% !important;
  }
  .header-navbar-list .phone {
    background: $yellow;
  }
  #navbar-trigger:checked ~ ul {
    height: auto;
    margin-left: 0;
  }
  #navbar-trigger:checked ~ ul li {
    height: 50px;
    margin-top: -1px;
  }
  #navbar-trigger:checked + label {
    color: $orange;
  }
  #navbar-trigger:not(:checked) + label {
    color: #333;
  }
}